/* Global Reset */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal overflow */
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  position: relative;
  padding-top: 60px;
  top: 100px;
}

/* Sections */
.section {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}